<app-nav-bar></app-nav-bar>
<div class='list-container container'>
    <div style="text-align: center;margin: 20px;"><h3>Player's Details</h3></div>
<div>
    <div>
        <label> <b>First Name: </b></label> {{player.firstName}}
    </div>
    <div>
        <label> <b>Last Name: </b></label> {{player.lastName}}
    </div>
    <div>
        <label> <b>Age: </b></label> {{player.age}}
    </div>
    <div>
        <label> <b>Career Start Date: </b></label> {{player.careerStartDate}}
    </div>
    <div>
        <label> <b>Current Team: </b></label> {{teamName}}
    </div>
</div>
</div>